body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1105px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:963px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:445px;
  height:963px;
  display:flex;
}
#u1071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:546px;
  height:31px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:401px;
  width:530px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(285deg);
  -moz-transform:rotate(285deg);
  -ms-transform:rotate(285deg);
  transform:rotate(285deg);
}
#u1072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:81px;
  width:40px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FF3399;
}
#u1073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:94px;
  width:494px;
  height:30px;
  display:flex;
}
#u1074 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1074_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:147px;
  width:202px;
  height:54px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u1075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:232px;
  width:131px;
  height:15px;
  display:flex;
}
#u1076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1076_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
