body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1957px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1757px;
  height:793px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:144px;
  width:1757px;
  height:793px;
  display:flex;
}
#u2428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:1719px;
  top:948px;
  width:99px;
  height:29px;
  display:flex;
  color:#FFFFFF;
}
#u2429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:1834px;
  top:948px;
  width:99px;
  height:29px;
  display:flex;
}
#u2430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:97px;
  width:66px;
  height:16px;
  display:flex;
  text-align:right;
}
#u2431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:88px;
  width:168px;
  height:33px;
  display:flex;
}
#u2432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2433_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2433_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:92px;
  width:165px;
  height:25px;
  display:flex;
}
#u2433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2433_img.disabled {
}
#u2433.disabled {
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:28px;
  width:216px;
  height:18px;
  display:flex;
}
#u2434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:27px;
  width:30px;
  height:18px;
  display:flex;
}
#u2435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:1px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:193px;
  height:1px;
  display:flex;
}
#u2436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:937px;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:937px;
  display:flex;
}
#u2437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:475px;
  width:56px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2438 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2438_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:475px;
  width:13px;
  height:16px;
  display:flex;
}
#u2439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:480px;
  width:11px;
  height:6px;
  display:flex;
}
#u2440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:510px;
  width:84px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2441_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:546px;
  width:84px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:671px;
  width:56px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2443_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:713px;
  width:56px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2444 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2444_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:633px;
  width:13px;
  height:17px;
  display:flex;
}
#u2445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:754px;
  width:84px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:633px;
  width:56px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:638px;
  width:11px;
  height:6px;
  display:flex;
}
#u2448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:591px;
  width:17px;
  height:15px;
  display:flex;
}
#u2449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:590px;
  width:84px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2450_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:937px;
  width:40px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FF3399;
}
#u2451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:949px;
  width:308px;
  height:48px;
  display:flex;
}
#u2452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2452_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:1020px;
  width:40px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FF3399;
}
#u2453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:1028px;
  width:325px;
  height:32px;
  display:flex;
}
#u2454 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2454_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:1091px;
  width:40px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FF3399;
}
#u2455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:1099px;
  width:322px;
  height:32px;
  display:flex;
}
#u2456 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2456_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1737px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:230px;
  width:1737px;
  height:675px;
  display:flex;
}
#u2457 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
